.services__top-content {
  text-align: center;
  margin-bottom: 40px;
}

.services__item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.services__item {
  background: var(--card-bg);
  width: 22%;
  padding: 30px 15px;
  text-align: center;
  border-radius: 0.5rem;
  margin-bottom: 20px;
  border: 1px solid var(--primary-color);
}

.services__item-icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background: var(--primary-color);
  border-radius: 5px;
}

.services__item-icon i {
  color: #fff;
  font-size: 2rem;
}

.service__title {
  font-size: 1.3rem;
  margin: 30px 0;
  color: var(--primary-color);
}

.description {
  font-size: 0.95rem;
  line-height: 1.6;
}
