
.team__wrapper {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.team__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 800px;
  padding: 25px 20px;
  margin: 0 auto 40px; 
}

.team__content h2 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

 /* .team__item {
  flex: 1 1 250px;
  max-width: 280px;
  background: white;
  border-radius: 5px;
  overflow: hidden;
}  */


/* .team__item{
    width:20%;
    height:auto;
    background: var(--container-bg);
    border-radius: 10px;
    border-color:white;
  
    overflow: hidden;
 

} */
.team__item {
  flex: 1 1 250px;
  max-width: 280px;
  background: var(--container-bg);
  border-radius: 10px;
  overflow: hidden;
}

/* 
 .team__img img{
    width: 100%;
    height:200px;
    object-fit: contain;
    transform:scale(1.4);

}  */

.team__img img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  transform: none;
}


.team__details
{
    padding: 20px 15px;

}

.team__details h4{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-bottom: 5px;
    font-weight: 1.2rem;
    margin-bottom: 0.4px;

}

.team__member-social{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-top: 10px;

}

.team__member-social span{
    font-size: 1.2rem;
    cursor: pointer;
    padding:5px;
    background: var(--icon-bg);

    color:white;

}